# Build artifacts
/build
.gradle
/app/build

# IDE-specific files (Android Studio/IntelliJ IDEA)
.idea/
*.iml
local.properties

# External native build (if applicable)
.externalNativeBuild/
.cxx/

# Gradle wrapper files (if not committing the wrapper)
!gradle/wrapper/gradle-wrapper.jar
gradle-wrapper.jar

# Sensitive files
*.jks
*.keystore
google-services.json # If you're using Firebase and don't want to commit this

# MacOS specific files
.DS_Store

# Miscellaneous
/captures/
/screenshots/